<!DOCTYPE html>
<html>
  <head><title> Emoji Result! </title> <link rel="stylesheet" type="text/css" href= "css/style.css"> </head>
 <body>
   <div>
   <h2> Where to eat: </h2> 
   
   <%=@answer%>

   </div>
  </body>
</html>